@import url("https://fonts.googleapis.com/css2?family=Epilogue&display=swap");
:root {
  --color1: #172339;
  --color2: #faf8f6;
  --color3: #241739;
  --color4: #F3EDE7;
}

body {
  margin: 0;
  padding: 0;
  font-family: Epilogue;
}

.navbar { 
  // background-color: gray;
  display: flex;
  justify-content: space-between;
width: 90%; 
margin-left: 1rem;
margin-top:1rem ;


  .navbar-title {
    font-size: 40px;
    font-weight: bold;

  }

  .navbar-button {
    width: 150px;
    border-radius: 10px;
    border-color: var(--color1);
    background-color: transparent;
    color: var(--color1);
    border-style: solid;
    transition: 0.15s;
    cursor: pointer;
    
    &:hover {
      background-color: var(--color3);
      color: var(--color2);
    }
  }
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  width: 90%;
  margin: 0 auto;


  .body {
    z-index: 1;
    width: 95%;
    .line img {
      max-width: 40%;
      position: relative;
      left: 140px;
      top: 30px;

    }

    .container-text {
      .headP {
        font-size: 35px;
        font-family: Epilogue;
        color: var(--color1);
        width: 100%;
        margin-bottom: 0;
        .span1 {
          color: var(--color3);
          font-weight: bold;
        }
      }
      .body-text {
        font-size: 15px;
        width: 100%;
        line-height: 28px;
        color: var(--color1);
        margin: 30px 0 30px 0;
      }
      .body-buttom {
        padding: 15px;
        border-radius: 10px;
        width: 10.5rem;
        border-style: solid;
        border-color: var(--color1);
        color: var(--color1);
        background-color: transparent;
        &:hover {
          background-color: var(--color3);
          color: var(--color2);
        }
      }
    }
  }
  .phone-img {
    margin: 50px 1px;

    img {
      height: 230px;
      width: 95%;
      border-radius: 10px;
    }
  }
  .countdown {

    display: flex;
    flex-direction: column;
    margin: 10px auto;
    justify-content: space-between;
    width: 90%;
    span {
      font-size: 48px;
      font-weight: 700;
    }
    .count {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 16px;
    }
  }
}

.Jeremy_sec {
  background-color: var(--color1);
  width: 100%;
  border-radius: 20px;
  margin: 150px auto 20px auto;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  position: relative;
  .Jeremy_img img {
    margin-bottom: -90px;
    width: 250px;
    height: 300px;
    object-fit: contain;
    position: relative;
    top: -130px;
    z-index: 1;
  }

  .blur img {
    height: 270px;
    position: absolute;
    bottom: 450px;
    right: 60px;
  }
 
  .Jem_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    .top {
      .text_top {
        font-size: 35px;
        color: var(--color4);
        span {
          color: var(--color2);
          font-weight: bold;
        }
      }
    }
    .text_middle {
      width: 300px;
      font-weight: lighter;
      color: #f3ede7;
      line-height: 30px;
    }
    .text_bottom {
      span {
        color: var(--color2);
      }

      .Jem_P {
        color: var(--color4);    
        font-size: 16px;
      }
    }
  }
}

.footer {
  display: flex;
  justify-content: end;
  flex-direction: column;
  // width: 377px;
  margin-top: -240px;
  gap: 50px;
  align-items: center;
  background-color: #F3EDE7;
  height: 420px;
  padding: 20px;  
  .footer-logo {
    font-size: 32px;
    font-weight: bold;
  }
  .social-icons {
    display: flex;
    justify-content: space-between;
    width: 100px;
  }
}


// @media  (min-width: 768px) {
//   .main {
//     width: 90%;
//     margin: 0 auto;
//     grid-template-columns: 1fr 1fr;
//     margin-top: 40px;
//     .body {
//       margin-top: 50px;
//       .line img {
//         width: 230px;
//         left: 240px;
//         top: 50px;
//       }

//       .container-text {
//         margin: 0;
//         .headP {
//           font-size: 59px;
//           width: 560px;
//         }  
//       }
//     }
//     .phone-img {
//       margin-left: -200px ;

//       img {
//         height: 482px;
//         width: 335px;
//         border-radius: 20px;
//       }
//     }
//     .countdown {
//       flex-direction: row;
//       margin: 0 auto;
//       justify-content: space-around;
//       width: 120%;
//     }
//   }

//   .Jeremy_sec {
//       width: 90%;
//       .blur img {
//         height: 270px;
//         bottom: 370px;
//         right: 200px;
//       }
//     .Jem_text {
//       .text_middle {
//         width: 500px;
//         margin-bottom: 30px;
//       }
//     }
//   }

//   .footer {
//     width: 85%;
//   }
// }
